In [1]:
# Import libraries
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# Import dataset
df = pd.read_csv('carprices.csv')
df.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [3]:
dummies = pd.get_dummies(df['Car Model'])

In [4]:
merged = pd.concat([df,dummies],axis='columns')

In [5]:
final = merged.drop(["Car Model","Mercedez Benz C class"],axis='columns')

In [6]:
X = final.drop('Sell Price($)',axis='columns')
X

    Mileage  Age(yrs)  Audi A5  BMW X5
0     69000         6        0       1
1     35000         3        0       1
2     57000         5        0       1
3     22500         2        0       1
4     46000         4        0       1
5     59000         5        1       0
6     52000         5        1       0
7     72000         6        1       0
8     91000         8        1       0
9     67000         6        0       0
10    83000         7        0       0
11    79000         7        0       0
12    59000         5        0       0

In [7]:
y = final['Sell Price($)']

In [8]:
model = LinearRegression()

In [9]:
model.fit(X,y)

LinearRegression()

In [10]:
model.score(X,y)

0.9417050937281083

In [11]:
print(model.predict([
    [45000,4,0,0],
    [86000,7,0,1]
]))

[36991.31721061 11080.74313219]