In [1]:
#Import libraries

import pandas as pd 
import numpy as np
import datetime

from sklearn import linear_model

In [2]:
# Import dataset
df = pd.read_csv('hiring.csv')
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [3]:
df.isnull().sum()

experience                    2
test_score(out of 10)         1
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [4]:
df.experience.fillna("zero") #replacing null with the word zero

0      zero
1      zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [5]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [6]:
df.experience = df.experience.fillna("zero") #replacing null with the word zero

In [7]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [8]:
from word2number import w2n

In [12]:
df.experience = df.experience.apply(w2n.word_to_num)

In [18]:
df.head()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000

In [15]:
import math

In [16]:
median_test_score = math.floor(df['test_score(out of 10)'].mean()) #referring to the second column

In [17]:
median_test_score

7

In [19]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_test_score)

In [20]:
df.isnull().sum() #no null variables

experience                    0
test_score(out of 10)         0
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [21]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [22]:
from sklearn import linear_model

In [23]:
reg = linear_model.LinearRegression() #when this is created, predictions will be possible

In [25]:
X = df [['experience', 'test_score(out of 10)', 'interview_score(out of 10)']]
y = df ['salary($)']

reg.fit(X, y)

In [28]:
reg.predict([
 [2,9,6],
 [12,10,10]
])

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.